<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCam Streaming</title> 
</head>

<body>
    <h2>WebCam Streaming from Raspberry Pi</h2>
    <div>
        <input type="range" min="0" max="179" id="minH" value="0"/>
        <label for="minH">Min. Hue</label>
    </div>
    <div>
        <input type="range" min="0" max="179" id="maxH" value="179"/>
        <label for="maxH">Max. Hue</label>
    </div>
    <div>
        <input type="range" min="0" max="255" id="minS" value="0"/>
        <label for="minS">Min. Saturation</label>
    </div>
    <div>
        <input type="range" min="0" max="255" id="maxS" value="255"/>
        <label for="maxS">Max. Saturation</label>
    </div>
    <div>
        <input type="range" min="0" max="255" id="minV" value="0"/>
        <label for="minV">Min. Value</label>
    </div>
    <div>
        <input type="range" min="0" max="255" id="maxV" value="255"/>
        <label for="maxV">Max. Value</label>
    </div>

    <img src="/video/front" width="1440" height="480" id="frontCam"/>
    <img src="/video/rear" width="1440" height="480" id="rearCam"/>

    <script type="text/javascript" src="static/index.js"></script>
</body>

</html>